/a405/skewT/makeSkewII.py
/a405/soundings/backup.txt
/a405/soundings/master
/a405/soundings/readfiles.py
*checkpoints
/a405/soundings/soundings_jan.txt
/a405/soundings/soundings_july.txt
soundingdir
std_soundings
/notebooks/temp.md
/notebooks/temp.py
